<!DOCTYPE html>
<html>
	<head>
		<title>Popup</title>
		<link rel="stylesheet" href="css/widgets.css">
		<link rel="stylesheet" href="css/popup.css">
		<script src="js/popup.min.js"></script>
		<script src="js/i18n.min.js"></script>
	</head>
	<body>
		<div id="detected-apps"></div>
		
		<div id="footer">
			<a href="javascript: void(0);" data-i18n="options" id="options">オプション</a>
		</div>
	</body>
</html>